<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Script Interpreter</key>
			<string>/usr/local/opt/php/bin/php</string>
			<key>Shell Script File</key>
			<string>noLineBreaks.php</string>
			<key>Title</key>
			<string>Remove lines breaks</string>
			<key>Image File</key>
			<string>rembreak.png</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Remove new lines from the selected text.</string>
	<key>Extension Identifier</key>
	<string>hrknagashima.popclip.extension.removelinebreak</string>
	<key>Extension Name</key>
	<string>Remove Line breaks</string>
</dict>
</plist>
